<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <script type="module" src="scripts.js"></script>
        <link rel="stylesheet" href="styles.css">
        <title></title>
    </head>
    <body>
      <nav>
        <ul>
          <li><a href="start">Home</a></li>
          <li><a href="contact">Contact</a></li>
          <li><a href="about">About</a></li>
        </ul>
      </nav>
      <h1>ABOUT</h1>
      <div>
        <img class="center" src="reddust.png" alt="red dust"/>
        <img class="center" src="justthetwoofus.jpg" alt="to tosser"/>
      </div>
    </body>
</html>
